<div id="app-container" class="col-md-12">
    <div class="container">
        <h2>{{redcat.studies.headers.title}}</h2>
        {{redcat.studies.headers.description}}<br/><br/>
        <table  class="table table-striped">
        <tr ng-repeat="instance in redcat.studies.instances">
        <td> 
            <input type="radio" ng-model="redcat.redCatInstance" ng-value="instance" autocomplete="off" id="study{{$index}}">
        </td>
        <td>
            <label for="study{{$index}}">
            <h3>{{instance.name}}</h3>
            {{instance.description}}
            </label>
        </td>
        </tr>
        </table>
        <button class="btn wide btn-primary" ng-click="redcat.setProtocol()">Begin</button>
    </div>
</div>