<div ng-hide="session.getSessionContent()">
    <h2>Loading Session Content</h2>
</div>

<!-- <div ng-hide="session.getSessionStarted()" ng-init="session.setCurrentSessionContent()">
    <div class="jumbotron text-center top-buffer20">
        <p>Ready to begin?</p>
        <button ng-click="session.startSession()" class="btn btn-primary">Start Now</button>
    </div>
</div> -->

<div ng-show="session.getSessionStarted()">
    <div ng-repeat="item in session.getSessionContent()">
        <div ng-show="session.questionVisible(item.branching_logic,item.evaluatedLogic,$index)">
            <div class="question well top-buffer20" ng-bind-html="session.convertHtmlContent(item.label)"></div>

            <div ng-if="item.type == 'radio' || item.type == 'checkbox'"
                 class="{{item.type}}"
                 ng-repeat="choice in item.choices">

                <label class="btn btn-info col-md-12 col-sm-12 col-xs-12 top-buffer5">
                    <div class="col-sm-1 col-xs-1 col-md-1 text-left">
                        <input ng-click="session.makeSelection(item.label, choice)" type="{{item.type}}" name="{{item.variable}}" value="{{$index+1}}">
                    </div>
                    <div class="col-md-10 col-xs-10 col-sm-10 text-left">{{session.stripIntegrationPoints(choice)}}</div>
                </label>
            </div>
            <div class="clearfix"></div>

            <div ng-if="item.type == 'notes'">
                <textarea ng-model="session.currentNotes"
                          id="notes"
                          class="form-control wide"></textarea>
            </div>

            <button ng-disabled="session.disableNext(item.choices, item.label)" class="btn btn-primary col-md-12 col-sm-12 col-xs-12 top-buffer20" ng-click="session.next()">Continue</button>
        </div>
    </div>
</div>

<div ng-show="session.currentSessionComplete">
    <div class="jumbotron text-center top-buffer20">
        <h2>Your Session is Complete - Thanks!</h2>
        <a href="#/home" class="btn btn-primary">Go Home</a>
    </div>
</div>
